@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

[data-theme="light"] {
  --foreground: 198, 39%, 20%; /* teal light blue */
  --background: 41, 85%, 66%; /* sl orange*/
}
[data-theme="dark"] {
  --background: 240, 100%, 10%; /* dark blue */
  --foreground: 40, 40%, 90%; /* light tan */

}
@layer base {
  :root {
    --textLIGHT: 40, 40%, 90%; /* light tan */
    --background: 41, 85%, 66%; /* sl orange*/
    --textDARK: 240, 100%, 10%; /* dark blue */
    --foreground: 198, 39%, 20%; /* teal light blue */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;

  }

  .dark {
    --background: 41, 85%, 66%; /* sl orange*/
    --foreground: 198, 39%, 20%; /* teal light blue */
    --textLIGHT: 40, 40%, 90%;
    --textDARK: 240, 100%, 10%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 22%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

  }
}

/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
  :root {
		--fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
		--fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
		--fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
		--fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
		--fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
		--fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
		--fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
  }
}
/* For browsers that dont support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
  :root {
		--fs-sm: 0.8rem;
		--fs-base: 1rem;
		--fs-md: 1.25rem;
		--fs-lg: 1.56rem;
		--fs-xl: 1.95rem;
		--fs-xxl: 2.44rem;
		--fs-xxxl: 3.05rem;
  }
  @media screen and (min-width: 1280px) {
    :root {
    --fs-sm: 0.89rem;
    --fs-base: 1.19rem;
    --fs-md: 1.58rem;
    --fs-lg: 2.11rem;
    --fs-xl: 2.81rem;
    --fs-xxl: 3.75rem;
    --fs-xxxl: 5rem;
    }
  }
}

@layer base {
  body {
    @apply bg-tilableSL font-sarabun;
  }
  h1 {
    @apply font-kobenhavn text-xxxl;
  }
  h2 {
    @apply font-kobenhavn text-xxl;
  }
  h3 {
    @apply font-kobenhavn text-xl;
  }
  h4 {
    @apply font-kobenhavn text-lg;
  }
  h5 {
    @apply font-kobenhavn text-md;
  }
  h6 {
    @apply font-kobenhavn text-base;
  }
  p, li, small, a {
    @apply font-sarabun text-base;
  }
}

@layer components {
  .sl-container__outer {
    margin: 0 0.5rem;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background-color: orange;
    border-radius: 1rem;
    border: 1px black solid;
    box-shadow: 0 0.1rem 3px 0.1rem rgba(128, 128, 128, 0.418);
  }
  .sl-container__inner {
    min-width: fit-content;
    min-height: fit-content;
    max-height: 80dvh;
    display: flex;
    flex-wrap: wrap;
    margin: 0.2rem;
    padding: 1rem;
    border: 2px solid gray;
    background-color: rgb(247, 246, 246);
    border-radius: 1rem;
    }
    .active {
      text-decoration: underline;
    }
}